<p>เพิ่มข้อมูลบริษัท</p>
<!-- debug: {{ fg.value | json }} -->
<hr>


<form [formGroup]="fg" (ngSubmit)="onSubmit()">
  <div class="">
    <label class="form-label" for="nameThai">กรอกชื่อบริษัท(ภาษาไทย)</label>
    <input
      class="form-control"
      [class.is-invalid]="nameThai.errors && nameThai.touched"
      formControlName="nameThai"
      id="nameThai"
      type="text"
    />
    <small class="invalid-feedback">Name thai is required</small>

  </div>
  <div class="mt-3">
    <label class="form-label" for="nameEng">กรอกชื่อบริษัท(ภาษาอังกฤษ)</label>
    <input
      class="form-control"
      [ngClass]="{
        'is-invalid': nameEng.errors && nameEng.touched
      }"
      formControlName="nameEng"
      id="nameEng"
      type="text"
    />
    <small class="invalid-feedback">Name English is required</small>
  </div>

<div class="mt-3">
  <label class="form-label" for="juristicID">กรอกเลขที่จดทะเบียน</label>
  <input
    class="form-control"
    [ngClass]="{
      'is-invalid': juristicID.errors && juristicID.touched
    }"
    formControlName="juristicID"
    id="juristicID"
    type="text"
    maxlength="13"
  />
  <small class="invalid-feedback">กรุณากรอกเลขที่จดทะเบียนg เลข 13 หลัก</small>
  </div>
  <br><br>
  <button (click)="onSubmit()">Submit</button>
</form>