<p>จำนวนบริษัททั้งหมด</p>
<table class ="table">
    <thead>
        <tr>
          <!-- <th>Id</th> -->
          <th>ชื่อบริษัทภาษาไทย</th>
          <th>ชื่อบริษัทภาษาอังกฤษ</th>
          <th>เลขที่จดทะเบียนบริษัท </th>
        </tr>
      </thead>
      <tbody>
        @for (req of reqs; track req.id) {
            <tr>
              <!-- <td>{{ req.id }}</td> -->
              <td>{{ req.nameThai }}</td>
              <td>{{ req.nameEng }}</td>
              <td>{{ req.juristicID  | juristicIDFormat }}</td>
            </tr>
            } @empty {
            <tr>
              <td class="text-center" colspan="3">Empty List</td>
            </tr>
            }
      </tbody>
</table>

<br><br>
<main class="container">
    <div class="bg-light p-5 rounded ">
     <a 
     (click)="onSubmit()"
     class="bth btn -lg btn-primary "
     href="javascript:void(0)"
     role="button"
     >view json data</a>
    </div>
</main>
